fbmuck/contrib/xml/fbmuck606.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fb6" elementFormDefault="qualified">
	<xs:element name="fbmuckdb6.06">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fbobject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dbref" type="xs:integer"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="owner" type="xs:integer"/>
							<xs:element name="location" type="xs:integer"/>
							<xs:element name="type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Player"/>
										<xs:enumeration value="Thing"/>
										<xs:enumeration value="Exit"/>
										<xs:enumeration value="Program"/>
										<xs:enumeration value="Room"/>
										<xs:enumeration value="Garbage"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="firstexit" type="xs:integer"/>
							<xs:element name="firstcontent" type="xs:integer"/>
							<xs:element name="nextexit" type="xs:integer"/>
							<xs:element name="nextcontent" type="xs:integer"/>
							<xs:element name="flag" minOccurs="0" maxOccurs="15">
								<xs:simpleType>
									<xs:restriction base="xs:string">
											<xs:enumeration value="DARK|DEBUG"/>
											<xs:enumeration value="WIZARD"/>
											<xs:enumeration value="ZOMBIE"/>
											<xs:enumeration value="LINK_OK"/>
											<xs:enumeration value="STICKY|SILENT"/>
											<xs:enumeration value="BUILDER"/>
											<xs:enumeration value="CHOWN_OK|COLOR"/>
											<xs:enumeration value="JUMP_OK"/>
											<xs:enumeration value="KILL_OK"/>
											<xs:enumeration value="HAVEN"/>
											<xs:enumeration value="ABODE|ABATE"/>
											<xs:enumeration value="QUELL"/>
											<xs:enumeration value="VEHICLE"/>
											<xs:enumeration value="XFORCIBLE"/>
											<xs:enumeration value="MUCKER1|MUCKER2|MUCKER3"/>
									</xs:restriction></xs:simpleType>
							</xs:element>
							<xs:element name="specific" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Player">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="home" type="xs:integer"/>
													<xs:element name="password" type="xs:string"/>
													<xs:element name="ignore" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Exit">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="dest" type="xs:integer" minOccurs="0" maxOccurs="15"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Room">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="dropto" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Thing">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="home" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Program">
											<xs:complexType>
												<xs:sequence minOccurs="0" maxOccurs="1">
													<xs:element name="programtext">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Garbage"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="timestamps">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="created" type="xs:dateTime"/>
										<xs:element name="accessed" type="xs:dateTime"/>
										<xs:element name="modified" type="xs:dateTime"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="properties" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="propname">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="([\p{LMnMeNPS}/@~_.]-[:])+"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="value">
											<xs:complexType>
												<xs:choice>
													<xs:element name="string">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[\p{LMNPSZsZl}]"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="dbref">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="#(-)?[0-9]+"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="float">
														<xs:simpleType>
															<xs:restriction base="xs:float"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="integer">
														<xs:simpleType>
															<xs:restriction base="xs:integer"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="boolexp">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[[#[0-9]\*[a-zA-Z]\|&amp;!]+"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
